/* CSS stillerinizi buraya girin */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:dimgray;
  }

header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
h3{
    color:black
    text-align: center;
    
}
header nav a{
text-decoration:none;
background-color:lightcoral;
padding: 10px 20px;
border-radius: 5px;
text-align: center;
color: black;
border-color: black;
}

main {
background-image: url("https://picsum.photos/seed/picsum/550/350");
width: 550px;
height:350px;
margin: auto auto;
display: flex;
align-items: center;
justify-content: center;
color:black;

}

main div{               /*  hem yazı hem button var.neden main div button deyince çalışmadı?? */   
   
    text-align: center;
}

button{
    border-radius: 5px;
    padding: 5px 10px;
}
section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;                            /*  margin ve width i nasıl ayarlayacağız? */
    margin: 5% auto;     
    width: 750px;
    color: black;
    text-align: center;

}
  

footer{
    text-align: center;
    background-color:bisque;
    padding: 20px 5px;
}
footer button{
    width:100px ;
    height:50px;
    border-radius: 10px;
    margin-bottom: 20px;
}
@media (max-width:768px){
    header{
        flex-direction: column;
    }
    header nav{
        display: flex;
        flex-direction: column;
        margin-bottom: 4%;
    }
        
    main{                           /*soldan boşluk var fakat sağdan veremedim? */      
        width: 90vw; 
        margin-bottom: 5%;
         
    }
   
    section{
       width: 100%;
        justify-content: space-around;
   
    }
   
    section div{
        margin: 
    }
}